body {
  overflow: hidden;
}

.prehome {
  @extend %cover;
  overflow: hidden;
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://images.prismic.io/unmaskjapan/e551caaf-4092-451b-9ef8-5eea8f770c55_samurai-home.png?auto=compress,format');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    z-index: -1;
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: $enFont;
    font-size: 7rem;
    width: 40rem;
    text-transform: uppercase;
    white-space: pre-line;
    &__text {
      span:nth-child(1) {
        display: block;
        text-align: center;
      }
      span:nth-child(2) {
        display: block;
        text-align: right;
        margin-top: -7rem;
      }
    }

    @include media('<=phone') {
      font-size: 15rem;
      width: 87rem;
      left: 50%;
    }
  }

  &__content {
    position: absolute;
    width: 40rem;
    top: 45.5%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    white-space: pre-line;
    line-height: 6rem;
    &__desc {
      span {
        display: block;
        position: relative;
        opacity: 0;
      }
      span:nth-child(1) {
        transform: translateX(-400px);
      }
      span:nth-child(2) {
        text-align: right;
        transform: translateX(300px);
      }
      span:nth-child(3) {
        transform: translateX(-300px);
      }
      .align {
        color: black;
        text-align: left;
        font-size: 4.5rem;
        transform: translateX(400px);

        @include media('<=phone') {
          font-size: 11rem;
        }
      }
      span:nth-child(4) {
        text-align: right;
        font-size: 5.2rem;
        transform: translateX(400px);

        @include media('<=phone') {
          font-size: 11.5rem;
        }
      }
    }

    @include media('<=phone') {
      font-size: 11rem;
      line-height: 15rem;
      width: 80rem;
    }
  }
}
