.footer {
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: $enFont;
  font-size: 1.8rem;

  &__links {
    margin-right: 4rem;
    &__link {
      text-decoration: none;
      color: black;
      transition: color 0.3s;

      &:hover {
        color: $redColor;
      }
    }

    @include media('<=phone') {
      margin-right: 6rem;
    }
  }
  &__ig {
    &__svg {
      margin-right: 0.5rem;
    }
    &__name {
      text-decoration: none;
      color: black;
      margin-right: 2rem;
      transition: color 0.3s;

      &:hover {
        color: $redColor;
      }
    }
  }

  @include media('<=tablet') {
    font-size: 4rem;
  }

  @include media('<=phone') {
    font-size: 4rem;
  }
}
