<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNMASK JAPAN</title>
    <base href="/">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <nav class="nav not-cursor">
        <div class="nav__title">
            <a class="nav__title__text" href="home.html">
                <span>unmask</span><span>japan</span>
            </a>

        </div>
    </nav>
    <section class="oni">
        <div class="inner__cursor">
            <div class="inner__cursor__after"></div>
            <span class="inner__cursor--text">click</span>
        </div>
        <div class="home__mask"></div>
        <div class="oni__background"></div>
        <h3 class="oni__title-en">oni</h3>
        <div class="oni__content">
            <h2 class="oni__content__title not-cursor">鬼
                面</h2>
            <div class="oni__content__scene not-cursor"></div>
            <div class="oni__content__desc not-cursor">
                <p class="oni__content__desc__item oni-item-1"><span class="u-color">Evil spirit</span>, <span
                        class="u-color">demon</span>, <span class="u-color">devil</span> found in
                    religion and Japanese folklore.
                </p>
                <p class="oni__content__desc__item oni-item-2"><span class="u-color">Supernatural</span> being</p>
                <p class="oni__content__desc__item oni-item-3">Mainly known for its <span class="u-color">wild</span>
                    and <span class="u-color">evil</span>
                    nature.
                </p>
                <p class="oni__content__desc__item oni-item-4">
                    Typically portrayed as hulking figure with three eyes, a wide mouth, horns, and claws on their
                    hands
                    and feet.
                </p>
                <figure class="oni__content__desc__media oni-item-5">
                    <img src="https://images.prismic.io/unmaskjapan/0a6d8c33-9f70-4132-8654-52a27f43bc84_oni.jpg?auto=compress,format"
                        alt="oni" class="oni__content__desc__media__img">
                    <figcaption class="oni__content__desc__media__desc">oni</figcaption>
                </figure>
                <p class="oni__content__desc__item oni-item-6">a <span class="u-color">Terrifying</span>, <span
                        class="u-color">dangerous</span> creature with
                    <span class="u-color">dangerous</span> powers.
                </p>
            </div>
        </div>
        <div class="component__button not-cursor">
            <img src="https://images.prismic.io/unmaskjapan/6c11f1cc-dde0-4a30-8d3e-f7ada95afcfd_circle.png?auto=compress,format"
                alt="zen circle" class="component__button__img">
            <svg class="component__button__arrow" width="32" height="32" viewBox="0 0 51 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 1.72601C0 1.28815 0.171192 0.840067 0.503505 0.50404C1.16813 -0.168013 2.2557 -0.168013 2.92033 0.50404L25.6687 23.5066L48.0847 0.840066C48.7493 0.168013 49.8369 0.168013 50.5015 0.840066C51.1662 1.51212 51.1662 2.61184 50.5015 3.2839L26.8771 27.1825C26.2125 27.8546 25.1249 27.8546 24.4603 27.1825L0.503505 2.95805C0.161122 2.61184 0 2.17399 0 1.72601Z"
                    fill="#aa131f" />
            </svg>
        </div>
    </section>
    <script src="main.js"></script>
</body>

</html>