<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNMASK JAPAN</title>
    <base href="/">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <nav class="nav">
        <div class="nav__title">
            <a class="nav__title__text" href="home.html">
                <span>unmask</span><span>japan</span>
            </a>

        </div>
    </nav>
    <section class="tengu">
        <div class="home__mask"></div>
        <div class="tengu__background"></div>
        <h3 class="tengu__title-en">tengu</h3>
        <div class="tengu__content">
            <h2 class="tengu__content__title">天
                狗</h2>
            <div class="tengu__content__scene"></div>
            <div class="tengu__content__desc">
                <p class="tengu__content__desc__item tengu-item-1"><span class="u-color">Legendary creature</span> found
                    in Japanese
                    folk religion.
                </p>
                <p class="tengu__content__desc__item tengu-item-2"><span class="u-color">The Shinto</span> - monkey
                    deity
                    who sheds light on heaven and earth.

                </p>
                <p class="tengu__content__desc__item tengu-item-3">
                    <span class="u-color">Fearsome demi-god</span> who protect the mountains and forests.
                </p>
                <figure class="tengu__content__desc__media tengu-item-4">
                    <img src="https://images.prismic.io/unmaskjapan/2b95284d-f4dd-427a-8629-a6724fea8472_tengu.jpg?auto=compress,format"
                        alt="Tengu and Buddhist monk
                " class="tengu__content__desc__media__img">
                    <figcaption class="tengu__content__desc__media__desc">Tengu and Buddhist monk
                    </figcaption>
                </figure>

                <p class="tengu__content__desc__item tengu-item-5">
                    Depicted in various ways, but most often as something between a <span class="u-color">huge</span>,
                    <span class="u-color">monstrous</span> bird and a fully
                    humanoid being, often with a <span class="u-color">red face</span> and an unusually long or large
                    <span class="u-color">nose</span> .
                </p>
            </div>
        </div>
        <div class="component__button" style="display: none">
            <img src="https://images.prismic.io/unmaskjapan/6c11f1cc-dde0-4a30-8d3e-f7ada95afcfd_circle.png?auto=compress,format"
                alt="zen circle" class="component__button__img">
            <svg class="component__button__arrow" width="32" height="32" viewBox="0 0 51 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 1.72601C0 1.28815 0.171192 0.840067 0.503505 0.50404C1.16813 -0.168013 2.2557 -0.168013 2.92033 0.50404L25.6687 23.5066L48.0847 0.840066C48.7493 0.168013 49.8369 0.168013 50.5015 0.840066C51.1662 1.51212 51.1662 2.61184 50.5015 3.2839L26.8771 27.1825C26.2125 27.8546 25.1249 27.8546 24.4603 27.1825L0.503505 2.95805C0.161122 2.61184 0 2.17399 0 1.72601Z"
                    fill="#aa131f" />
            </svg>
        </div>
    </section>
    <script src="main.js"></script>
</body>

</html>